div(itemprop, itemtype="http://schema.org/Store")#logo.logo.logo--inner
    div
        span.logo__name(itemprop="name") #{ name }
    a(href="/")
        +svg('logo', 369, 69)
    span.logo__description(itemprop="description") #{ description }