- var vars
header#header.header.header--inner
    .header__container
        .header__content
            include ../logo/inner.pug
            .header__actions
                +link('primary', 'Faça seu Orçamento', '#partner', '#budget')
            
        include ../menu/template.pug
    .header__banner-inner
        include ../banner/contact.pug
        .header__inner 
            .header__inner-container 
                include ../breadcrumb/midiaPost.pug 
                h1.title.title--h1.title--detail.title--page Seja nosso Parceiro
