extends layout.pug 

block vars 
    -var page = 'home'
    -var title = "o marketplace de serviços com drones."

block content 
    include ../snippets/about/template.pug
    include ../snippets/article/services.pug
    include ../snippets/business/template.pug
    include ../snippets/diff/template.pug
    include ../snippets/article/midia.pug
    include ../snippets/partners/template.pug