extends layout.pug 

block vars 
    -var page = 'services'
    -var banner = 'midiaPost'
    -var inner = false

block content 
    include ../snippets/page/midiaPost.pug
    include ../snippets/article/moreMidia.pug