.share 
    &__title 
        font-size: 13px
        font-weight: regular 
        text-transform: uppercase 
        color: #999999
        margin-right: 20px

    svg 
        fill: color_primary

    &__content 
        display: flex 
        justify-content: flex-start 
        align-items: center

    &__list 
        display: flex 
        margin: -5px
    &__item 
        margin: 5px 

@media (min-width: 992px)
    .share 
        display: flex 
        justify-content: flex-end