.share 
    .share__content 
        .share__title COMPARTILHAR
        .share__list 
            .share__item.share__item--facebook
                a.share__link
                    +svg('facebook', 18, 18)
            .share__item.share__item--twitter
                a.share__link
                    +svg('twitter', 18, 18)
            .share__item.share__item--instagram
                a.share__link
                    +svg('instagram', 18, 18)
            .share__item.share__item--youtube
                a.share__link
                    +svg('youtube', 18, 18)
            .share__item.share__item--linkedin
                a.share__link
                    +svg('linkedin', 18, 18)