.post 
    .post__container 
        .post__figure 
            img(src="/assets/images/banner_post.jpg", alt="Midia")
        .post__content 
            .post__title 
                h2.title.tilte--h1 Vooxer: um marketplace de serviços com drones
            .post__time-share 
                .post__time 
                    h4.title.title--h4.title--detail 7 DE NOVEMBRO DE 2018
                .post__share 
                    include ../share/template.pug
            .post__text 
                p Startup busca mediar negócios entre prestadores de serviços e clientes, dando total assistência à ambas as partes para garantir que o principal propósito seja atendido
                p É inegável que o mercado de drones no Brasil cresceu bastante nos últimos anos, tornando a tecnologia um grande instrumento para o trabalho de diversos segmentos distintos. Enxergando a ascensão deste mercado surge a Vooxer, um marketplace que atua em todo o território nacional para diversos serviços realizados a partir de drones.
                p A ideia do negócio é a seguinte: a plataforma media negócios entre prestadores de serviços e clientes, dando total assistência à ambas as partes e garantindo que o principal propósito seja atendido, visando consolidar clientes e fornecedores satisfeitos com os negócios gerados pela empresa. Tudo isso acontece a partir de uma plataforma própria, desenvolvida estruturalmente por APIs e integrada com sistema Salesforce para gestão comercial.
                p "A ideia surgiu a partir de anos de conhecimento de mercado (aproximadamente 7 anos), onde vivenciamos as dificuldades deste setor. Os drones possibilitam redução significativa nos custos onde em alguns casos a mobilização e desmobilização chega a custar mais que o próprio  serviço. Outra dificuldade vem da falta de padronização e  profissionalização que são naturais de um novo mercado. A nossa ideia é diminuirmos os custos de mobilização, chegando a quase zero com a pulverização de prestadores de serviços alocados em todo o território  brasileiro, e, também funcionarmos como um agente facilitador na  padronização de preços, produtos e apoiando na profissionalização de nossos parceiros. Queremos funcionar como um ecossistema neste segmento", comenta o fundador da Vooxer, Antonio Lira.
                p Atualmente, a  startup está instalada dentro do CIEM/CITEC, em Marilia-SP, um relevante polo de tecnologia do Brasil. Esse espaço conta com mais de 50 empresas de base tecnológica e um dos mais modernos espaços de coworking. Nele, apenas o time da Vooxer conta com 12 colaboradores. No entanto, para chegar ao estágio atual, foi necessário passar por alguns momentos de dificuldade, sobretudo com relação a burocracias.
                p Sobre esses empecilhos, Lira explica. "Primeiramente era uma questão regulatória, onde a ANAC demorou muito para publicar a legislação (publicada em Maio de 2017) e agora estão flexibilizando um pouco mais. Outro ponto importante está relacionado a  recursos financeiros onde ainda é difícil encontrarmos investidores que  acreditem na ideia e funcionem como Anjo. Muitos investidores querem empresas tracionando e faturando", continua.
                p O objetivo da Vooxer é se tornar referência aos clientes que consomem serviços a partir de drones, com a ideia do ecossistema. "Nós iremos trabalhar para ofertar além de serviços de imageamento. Queremos atuar no desenvolvimento de aplicações juntamente com os parceiros da plataforma. A ideia é qualificar esses parceiros para ofertar melhores produtos e aplicações e levar a nossos clientes o que há de mais novo neste segmento tecnológico", pontua o fundador.
                p Em um curto espaço de tempo, a startup pretende inovar e criar o Vooxer Day, um dia de evento online e presencial com demonstrações de aplicações e inovação, voltado ao conhecimento de clientes e parceiros. O enfoque atual está na inovação dos serviços com drones e a facilidade de compra-los em qualquer lugar do Brasil.
                p Os esforços da plataforma estão voltados para o mercado de fotografias aéreas, mineração, inspeção de LTs, inspeção imobiliária e monitoramento de obras, agricultura, rodovias e ferrovias. Um dos próximos passos é trabalhar a expansão da plataforma para América do Norte e Europa, com negociações em andamento para iniciarmos pela Espanha.
                p Sobre a dificuldade de empreender no Brasil, o fundador da startups aponta algumas questões pontuais. "Ainda temos dificuldades com burocracias relacionada a formalização da empresa e emprego. Processos ainda mais flexíveis poderiam ser implementados. Outra questão seria uma oferta maior de crédito com propósitos específicos a determinados segmentos e também a sua ampla divulgação e acesso a quem está iniciando", completa.
            
            .post__share 
                include ../share/template.pug