section#about.about 
    .about__container 
        .about__content
            header.about__header 
                .about__title
                    h1.title.title--h1  Sobre a Vooxer 
            .about__main    
                p Uma Empresa nascida para alçar grandes voos.
                p Pionerismo em seu segmento, tecnologia como grande aliada em seu produto, experiência em gestão do sucesso do cliente e amplo domínio técnico no mercado de drones com aplicações para proporcionar ao cliente experiências que o apoie a dar foco em seus negócios.
                p Uma palavra que poderia resumir a vontade de seus idealizadores na construção deste negócio é <strong>VIABILIZAR</strong>.
                p Mais que lançar uma plataforma a ideia principal foi criar um negócio diferenciado que pudesse agregar na vida de nossos clientes e principalmente viabilizar seus projetos, produtos ou mesmo sonhos pessoais.
                p Pensamos nos mínimos detalhes e construímos este negócio cuidadosamente, pensando em tornar coisas que pudessem ser inviáveis aos modelos tradicionais em soluções viáveis a nossos clientes.
                br 
                br 
                p Sejam bem vindos, somos a Vooxer.
            .about__footer 
                +link('primary', 'Assista nosso vídeo', '#videos')
    .about__banner
        include ../banner/about.pug
    
