.faq 
    .faq__container 
        .faq__title 
            .h3.title.title--h5 Parceiros
        .faq__list 
            .faq__item 
                .faq__label Preciso ter equipamentos e equipes para ser um parceiro? É obrigatório o equipamento estar cadastrado na ANAC?
                .faq__content 
                    p A plataforma realizará uma seleção de parceiros que estejam aptos a executar os serviços demandados pelos clientes.
                    p Ex: Um determinado cliente apresenta uma demanda para inspeção de linhas de transmissão.
                    p Essa demanda de um equipamento que possua blindagem em sua eletrônica para proteger de eventuais interferências magnéticas geradas pela energia elétrica, além disso um sensor termal para a identificação de pontos de perdas de energia.
                    p Nesse caso apenas os fornecedores que possuam equipamentos que atendam a essas especificações participarão do processo de escolha da empresa.
                    p A plataforma apresentará as propostas das empresas que possuem condições de atender a demanda com seus respectivos ratings que serão gerados no cadastro e posteriormente pelo histórico de serviços prestados.
                    p A partir daí o cliente escolhe o prestador de serviços baseado nas melhores condições de preço, prazo e rating do parceiro. 
                    p Todo o processo é feito sem intervenção humana e baseado em critérios gerados pela riqueza de informações prestadas no cadastro do parceiro, por isso é muito importante que no momento do cadastramento os parceiros forneçam o máximo de informações possíveis a respeito de sua equipe, equipamentos, históricos de serviços, etc.
            .faq__item 
                .faq__label Existe algum custo para eu me cadastrar como Parceiro?
                .faq__content 
                    p A plataforma realizará uma seleção de parceiros que estejam aptos a executar os serviços demandados pelos clientes.
                    p Ex: Um determinado cliente apresenta uma demanda para inspeção de linhas de transmissão.
                    p Essa demanda de um equipamento que possua blindagem em sua eletrônica para proteger de eventuais interferências magnéticas geradas pela energia elétrica, além disso um sensor termal para a identificação de pontos de perdas de energia.
                    p Nesse caso apenas os fornecedores que possuam equipamentos que atendam a essas especificações participarão do processo de escolha da empresa.
                    p A plataforma apresentará as propostas das empresas que possuem condições de atender a demanda com seus respectivos ratings que serão gerados no cadastro e posteriormente pelo histórico de serviços prestados.
                    p A partir daí o cliente escolhe o prestador de serviços baseado nas melhores condições de preço, prazo e rating do parceiro. 
                    p Todo o processo é feito sem intervenção humana e baseado em critérios gerados pela riqueza de informações prestadas no cadastro do parceiro, por isso é muito importante que no momento do cadastramento os parceiros forneçam o máximo de informações possíveis a respeito de sua equipe, equipamentos, históricos de serviços, etc.
            .faq__item 
                .faq__label Como é feita a escolha do parceiro que realizará os serviços?
                .faq__content 
                    p A plataforma realizará uma seleção de parceiros que estejam aptos a executar os serviços demandados pelos clientes.
                    p Ex: Um determinado cliente apresenta uma demanda para inspeção de linhas de transmissão.
                    p Essa demanda de um equipamento que possua blindagem em sua eletrônica para proteger de eventuais interferências magnéticas geradas pela energia elétrica, além disso um sensor termal para a identificação de pontos de perdas de energia.
                    p Nesse caso apenas os fornecedores que possuam equipamentos que atendam a essas especificações participarão do processo de escolha da empresa.
                    p A plataforma apresentará as propostas das empresas que possuem condições de atender a demanda com seus respectivos ratings que serão gerados no cadastro e posteriormente pelo histórico de serviços prestados.
                    p A partir daí o cliente escolhe o prestador de serviços baseado nas melhores condições de preço, prazo e rating do parceiro. 
                    p Todo o processo é feito sem intervenção humana e baseado em critérios gerados pela riqueza de informações prestadas no cadastro do parceiro, por isso é muito importante que no momento do cadastramento os parceiros forneçam o máximo de informações possíveis a respeito de sua equipe, equipamentos, históricos de serviços, etc.
            .faq__item 
                .faq__label Como será realizado o recebimento dos serviços prestados?
                .faq__content 
                    p A plataforma realizará uma seleção de parceiros que estejam aptos a executar os serviços demandados pelos clientes.
                    p Ex: Um determinado cliente apresenta uma demanda para inspeção de linhas de transmissão.
                    p Essa demanda de um equipamento que possua blindagem em sua eletrônica para proteger de eventuais interferências magnéticas geradas pela energia elétrica, além disso um sensor termal para a identificação de pontos de perdas de energia.
                    p Nesse caso apenas os fornecedores que possuam equipamentos que atendam a essas especificações participarão do processo de escolha da empresa.
                    p A plataforma apresentará as propostas das empresas que possuem condições de atender a demanda com seus respectivos ratings que serão gerados no cadastro e posteriormente pelo histórico de serviços prestados.
                    p A partir daí o cliente escolhe o prestador de serviços baseado nas melhores condições de preço, prazo e rating do parceiro. 
                    p Todo o processo é feito sem intervenção humana e baseado em critérios gerados pela riqueza de informações prestadas no cadastro do parceiro, por isso é muito importante que no momento do cadastramento os parceiros forneçam o máximo de informações possíveis a respeito de sua equipe, equipamentos, históricos de serviços, etc.
            .faq__item 
                .faq__label Como funcionará o sistema de rating?
                .faq__content 
                    p A plataforma realizará uma seleção de parceiros que estejam aptos a executar os serviços demandados pelos clientes.
                    p Ex: Um determinado cliente apresenta uma demanda para inspeção de linhas de transmissão.
                    p Essa demanda de um equipamento que possua blindagem em sua eletrônica para proteger de eventuais interferências magnéticas geradas pela energia elétrica, além disso um sensor termal para a identificação de pontos de perdas de energia.
                    p Nesse caso apenas os fornecedores que possuam equipamentos que atendam a essas especificações participarão do processo de escolha da empresa.
                    p A plataforma apresentará as propostas das empresas que possuem condições de atender a demanda com seus respectivos ratings que serão gerados no cadastro e posteriormente pelo histórico de serviços prestados.
                    p A partir daí o cliente escolhe o prestador de serviços baseado nas melhores condições de preço, prazo e rating do parceiro. 
                    p Todo o processo é feito sem intervenção humana e baseado em critérios gerados pela riqueza de informações prestadas no cadastro do parceiro, por isso é muito importante que no momento do cadastramento os parceiros forneçam o máximo de informações possíveis a respeito de sua equipe, equipamentos, históricos de serviços, etc.
        
        .faq__title 
            .h3.title.title--h5 Parceiros
        .faq__list
            .faq__item 
                .faq__label Qual a principal função da plataforma?
                .faq__content 
                    p A plataforma realizará uma seleção de parceiros que estejam aptos a executar os serviços demandados pelos clientes.
                    p Ex: Um determinado cliente apresenta uma demanda para inspeção de linhas de transmissão.
                    p Essa demanda de um equipamento que possua blindagem em sua eletrônica para proteger de eventuais interferências magnéticas geradas pela energia elétrica, além disso um sensor termal para a identificação de pontos de perdas de energia.
                    p Nesse caso apenas os fornecedores que possuam equipamentos que atendam a essas especificações participarão do processo de escolha da empresa.
                    p A plataforma apresentará as propostas das empresas que possuem condições de atender a demanda com seus respectivos ratings que serão gerados no cadastro e posteriormente pelo histórico de serviços prestados.
                    p A partir daí o cliente escolhe o prestador de serviços baseado nas melhores condições de preço, prazo e rating do parceiro. 
                    p Todo o processo é feito sem intervenção humana e baseado em critérios gerados pela riqueza de informações prestadas no cadastro do parceiro, por isso é muito importante que no momento do cadastramento os parceiros forneçam o máximo de informações possíveis a respeito de sua equipe, equipamentos, históricos de serviços, etc.
            .faq__item 
                .faq__label Existe algum acréscimo de preço para contratar via plataforma?
                .faq__content 
                    p A plataforma realizará uma seleção de parceiros que estejam aptos a executar os serviços demandados pelos clientes.
                    p Ex: Um determinado cliente apresenta uma demanda para inspeção de linhas de transmissão.
                    p Essa demanda de um equipamento que possua blindagem em sua eletrônica para proteger de eventuais interferências magnéticas geradas pela energia elétrica, além disso um sensor termal para a identificação de pontos de perdas de energia.
                    p Nesse caso apenas os fornecedores que possuam equipamentos que atendam a essas especificações participarão do processo de escolha da empresa.
                    p A plataforma apresentará as propostas das empresas que possuem condições de atender a demanda com seus respectivos ratings que serão gerados no cadastro e posteriormente pelo histórico de serviços prestados.
                    p A partir daí o cliente escolhe o prestador de serviços baseado nas melhores condições de preço, prazo e rating do parceiro. 
                    p Todo o processo é feito sem intervenção humana e baseado em critérios gerados pela riqueza de informações prestadas no cadastro do parceiro, por isso é muito importante que no momento do cadastramento os parceiros forneçam o máximo de informações possíveis a respeito de sua equipe, equipamentos, históricos de serviços, etc.
            .faq__item 
                .faq__label Qual a base de cálculos da Pré-Cotação?
                .faq__content 
                    p A plataforma realizará uma seleção de parceiros que estejam aptos a executar os serviços demandados pelos clientes.
                    p Ex: Um determinado cliente apresenta uma demanda para inspeção de linhas de transmissão.
                    p Essa demanda de um equipamento que possua blindagem em sua eletrônica para proteger de eventuais interferências magnéticas geradas pela energia elétrica, além disso um sensor termal para a identificação de pontos de perdas de energia.
                    p Nesse caso apenas os fornecedores que possuam equipamentos que atendam a essas especificações participarão do processo de escolha da empresa.
                    p A plataforma apresentará as propostas das empresas que possuem condições de atender a demanda com seus respectivos ratings que serão gerados no cadastro e posteriormente pelo histórico de serviços prestados.
                    p A partir daí o cliente escolhe o prestador de serviços baseado nas melhores condições de preço, prazo e rating do parceiro. 
                    p Todo o processo é feito sem intervenção humana e baseado em critérios gerados pela riqueza de informações prestadas no cadastro do parceiro, por isso é muito importante que no momento do cadastramento os parceiros forneçam o máximo de informações possíveis a respeito de sua equipe, equipamentos, históricos de serviços, etc.
            .faq__item 
                .faq__label Quais os meios de pagamentos disponíveis?
                .faq__content 
                    p A plataforma realizará uma seleção de parceiros que estejam aptos a executar os serviços demandados pelos clientes.
                    p Ex: Um determinado cliente apresenta uma demanda para inspeção de linhas de transmissão.
                    p Essa demanda de um equipamento que possua blindagem em sua eletrônica para proteger de eventuais interferências magnéticas geradas pela energia elétrica, além disso um sensor termal para a identificação de pontos de perdas de energia.
                    p Nesse caso apenas os fornecedores que possuam equipamentos que atendam a essas especificações participarão do processo de escolha da empresa.
                    p A plataforma apresentará as propostas das empresas que possuem condições de atender a demanda com seus respectivos ratings que serão gerados no cadastro e posteriormente pelo histórico de serviços prestados.
                    p A partir daí o cliente escolhe o prestador de serviços baseado nas melhores condições de preço, prazo e rating do parceiro. 
                    p Todo o processo é feito sem intervenção humana e baseado em critérios gerados pela riqueza de informações prestadas no cadastro do parceiro, por isso é muito importante que no momento do cadastramento os parceiros forneçam o máximo de informações possíveis a respeito de sua equipe, equipamentos, históricos de serviços, etc.
            .faq__item 
                .faq__label Como posso acompanhar o andamento dos serviços?
                .faq__content 
                    p A plataforma realizará uma seleção de parceiros que estejam aptos a executar os serviços demandados pelos clientes.
                    p Ex: Um determinado cliente apresenta uma demanda para inspeção de linhas de transmissão.
                    p Essa demanda de um equipamento que possua blindagem em sua eletrônica para proteger de eventuais interferências magnéticas geradas pela energia elétrica, além disso um sensor termal para a identificação de pontos de perdas de energia.
                    p Nesse caso apenas os fornecedores que possuam equipamentos que atendam a essas especificações participarão do processo de escolha da empresa.
                    p A plataforma apresentará as propostas das empresas que possuem condições de atender a demanda com seus respectivos ratings que serão gerados no cadastro e posteriormente pelo histórico de serviços prestados.
                    p A partir daí o cliente escolhe o prestador de serviços baseado nas melhores condições de preço, prazo e rating do parceiro. 
                    p Todo o processo é feito sem intervenção humana e baseado em critérios gerados pela riqueza de informações prestadas no cadastro do parceiro, por isso é muito importante que no momento do cadastramento os parceiros forneçam o máximo de informações possíveis a respeito de sua equipe, equipamentos, históricos de serviços, etc.
            .faq__item 
                .faq__label Como será feita a entrega dos produtos?
                .faq__content 
                    p A plataforma realizará uma seleção de parceiros que estejam aptos a executar os serviços demandados pelos clientes.
                    p Ex: Um determinado cliente apresenta uma demanda para inspeção de linhas de transmissão.
                    p Essa demanda de um equipamento que possua blindagem em sua eletrônica para proteger de eventuais interferências magnéticas geradas pela energia elétrica, além disso um sensor termal para a identificação de pontos de perdas de energia.
                    p Nesse caso apenas os fornecedores que possuam equipamentos que atendam a essas especificações participarão do processo de escolha da empresa.
                    p A plataforma apresentará as propostas das empresas que possuem condições de atender a demanda com seus respectivos ratings que serão gerados no cadastro e posteriormente pelo histórico de serviços prestados.
                    p A partir daí o cliente escolhe o prestador de serviços baseado nas melhores condições de preço, prazo e rating do parceiro. 
                    p Todo o processo é feito sem intervenção humana e baseado em critérios gerados pela riqueza de informações prestadas no cadastro do parceiro, por isso é muito importante que no momento do cadastramento os parceiros forneçam o máximo de informações possíveis a respeito de sua equipe, equipamentos, históricos de serviços, etc.
            .faq__item 
                .faq__label Como a plataforma atuará em caso de problemas nos produtos?
                .faq__content 
                    p A plataforma realizará uma seleção de parceiros que estejam aptos a executar os serviços demandados pelos clientes.
                    p Ex: Um determinado cliente apresenta uma demanda para inspeção de linhas de transmissão.
                    p Essa demanda de um equipamento que possua blindagem em sua eletrônica para proteger de eventuais interferências magnéticas geradas pela energia elétrica, além disso um sensor termal para a identificação de pontos de perdas de energia.
                    p Nesse caso apenas os fornecedores que possuam equipamentos que atendam a essas especificações participarão do processo de escolha da empresa.
                    p A plataforma apresentará as propostas das empresas que possuem condições de atender a demanda com seus respectivos ratings que serão gerados no cadastro e posteriormente pelo histórico de serviços prestados.
                    p A partir daí o cliente escolhe o prestador de serviços baseado nas melhores condições de preço, prazo e rating do parceiro. 
                    p Todo o processo é feito sem intervenção humana e baseado em critérios gerados pela riqueza de informações prestadas no cadastro do parceiro, por isso é muito importante que no momento do cadastramento os parceiros forneçam o máximo de informações possíveis a respeito de sua equipe, equipamentos, históricos de serviços, etc.
            .faq__item 
                .faq__label Corro o risco de realizar o pagamento e não receber os produtos?
                .faq__content 
                    p A plataforma realizará uma seleção de parceiros que estejam aptos a executar os serviços demandados pelos clientes.
                    p Ex: Um determinado cliente apresenta uma demanda para inspeção de linhas de transmissão.
                    p Essa demanda de um equipamento que possua blindagem em sua eletrônica para proteger de eventuais interferências magnéticas geradas pela energia elétrica, além disso um sensor termal para a identificação de pontos de perdas de energia.
                    p Nesse caso apenas os fornecedores que possuam equipamentos que atendam a essas especificações participarão do processo de escolha da empresa.
                    p A plataforma apresentará as propostas das empresas que possuem condições de atender a demanda com seus respectivos ratings que serão gerados no cadastro e posteriormente pelo histórico de serviços prestados.
                    p A partir daí o cliente escolhe o prestador de serviços baseado nas melhores condições de preço, prazo e rating do parceiro. 
                    p Todo o processo é feito sem intervenção humana e baseado em critérios gerados pela riqueza de informações prestadas no cadastro do parceiro, por isso é muito importante que no momento do cadastramento os parceiros forneçam o máximo de informações possíveis a respeito de sua equipe, equipamentos, históricos de serviços, etc.