footer#footer.footer 
    .footer__container 
        .footer__payments
            .footer__title 
                h2.title.title--h2 Formas de Pagamento
            .footer__content 
                .footer__paypal 
                    .footer__paypal-title Pague com segurança 
                    .footer__paypal-image 
                        img(src="/assets/images/paypal.png", title="PayPal")
                .footer__payments 
                    img(src="/assets/images/payments.png", title="Pagamentos")
        .footer__help 
            .footer__title 
                h2.title.title--h2 Atendimento 24H
            .footer__content 
                .footer__item 
                    a.footer__link.footer__link--phone(href="tel:1433672807") 
                        +svg('phone', 20, 20)
                        span (14) 3367-2807
                .footer__item 
                    a.footer__link.footer__link--whatsapp(href="https://wa.me/14991635178") 
                        +svg('whatsapp', 20, 20)
                        span (14) 99163-5178
                .footer__item 
                    a.footer__link.footer__link--email(href="mailto:suporte@vooxer.com") 
                        +svg('email', 20, 20)
                        span suporte@vooxer.com
                .footer__item 
                    a.footer__link.footer__link--email(href="mailto:diretoria@vooxer.com") 
                        +svg('email', 20, 20)
                        span diretoria@vooxer.com
        .footer__social 
            .footer__title 
                h2.title.title--h2 Siga a Vooxer
            .footer__content 
                .footer__social-list 
                    .footer__social-item 
                        a.footer__social-link(href="#facebook")
                            +svg('facebook', 40, 40)
                    .footer__social-item 
                        a.footer__social-link(href="#twitter")
                            +svg('twitter', 40, 40)
                    .footer__social-item 
                        a.footer__social-link(href="#instagram")
                            +svg('instagram', 40, 40)
                    .footer__social-item 
                        a.footer__social-link(href="#youtube")
                            +svg('youtube', 40, 40)
                    .footer__social-item 
                        a.footer__social-link(href="#linkedin")
                            +svg('linkedin', 40, 40)
            .footer__plays 
                .footer__plays-item 
                    img(src="/assets/images/appstore.jpg" alt="App Store")
                .footer__plays-item 
                    img(src="/assets/images/googleplay.jpg" alt="Google Play")
.copyright 
    .copyright__container 
        .copyright__text Todos os direitos reservados. 2018 - Vooxer 
        .security 
            .security__list 
                .security__item 
                    img(src="/assets/images/ssl.jpg")
                .security__item 
                    img(src="/assets/images/ciem.jpg")
                .security__item 
                    img(src="/assets/images/asserti.jpg")
        
        

