.breadcrumb
    .breadcrumb__container 
        .breadcrumb__list
            .breadcrumb__item 
                a.breacrcumb__name Home
            .breadcrumb__item 
                span.breadcrumb__name.breadcrumb__name--pipe /
            .breadcrumb__item(data-breacrbumb="current")
                span.breadcrumb__name Nossos Serviços