section#business.business 
    .business__container
        header.business__header 
            .business__title
                h1.title.title--h1 Nossos Negócio
        .business__main 
            .business__list 
                .business__item.business__item--vooxer(aria-expanded="true")
                    .business__border
                        .business__icon 
                            +svg('vooxer', 72, 13)
                        h2.business__name Vooxer 
                    .business__more
                        .business__description Cliente busca opções de prestadores de serviços para atender as suas demanda.
                .business__item.business__item--client(aria-expanded="false")
                    .business__border
                        .business__icon 
                            +svg('client', 44, 40)   
                        h2.business__name Clientes 
                    .business__more
                        .business__description Cliente busca opções de prestadores de serviços para atender as suas demanda.
                .business__item.business__item--partner(aria-expanded="false")
                    .business__border
                        .business__icon 
                            +svg('partner', 49, 41)   
                        h2.business__name Parceiros
                    .business__more
                        .business__description Cliente busca opções de prestadores de serviços para atender as suas demanda.
                .business__item.business__item--validation(aria-expanded="false")
                    .business__border
                        .business__icon 
                            +svg('validation', 40, 40)   
                        h2.business__name Validação
                    .business__more
                        .business__description Cliente busca opções de prestadores de serviços para atender as suas demanda.
                .business__item.business__item--service(aria-expanded="false")
                    .business__border
                        .business__icon 
                            +svg('service', 54, 40)   
                        h2.business__name Serviços
                    .business__more
                        .business__description Cliente busca opções de prestadores de serviços para atender as suas demanda.
                .business__item.business__item--payment(aria-expanded="false")
                    .business__border
                        .business__icon 
                            +svg('payment', 40, 44)   
                        h2.business__name Pagamentos
                    .business__more
                        .business__description Cliente busca opções de prestadores de serviços para atender as suas demanda.


