.banner
    position: relative
    z-index: 0
    width: 100% 
    overflow: hidden 

    &__image 
        position: relative 
        top: 0
        left: 50%
        display: block 
        margin: 0 auto
        min-width: 100% 
        max-width: none 
        transform: translateX(-50%)

    body:not(.home) &--full 
        max-height: 600px
    &--not 
        height: 600px
        background: color_primary
    &--about 
        width: 100% 
        height: 100% 
        .banner
            &__container 
                width: 100%
                height: 100% 
            &__item 
                background-size: 100% auto
                background-position: center bottom
                width: 100% 
                height: 100%

@media (min-width: 640px)
    .banner--about .banner__item
        background-size: 1000px auto
        background-position: 0 bottom

@media (min-width: 992px)
    .banner.banner--about .banner__item
        background-size: cover
        background-position: center
    .banner 
        &--about .banner__item
            background-size: 100% auto