form(action="")
    
    .budget__div.budget__div--inputs 
        .budget__div-inner
            .form__item.form__item--produto
                label.form__label.form__label--show(for="m01") Produto
                input#m01.form__input.form__input--text(type="text", placeholder="Digite", name="m01")
            .form__item.form__item--area
                label.form__label.form__label--show(for="m013") Tota da Área
                input#m014.form__input.form__input--text.form__input--right(type="text", placeholder="0,00", name="m013")
            .form__item.form__item--unidade
                label.form__label.form__label--show(for="m014") Unidade
                select#m014(name="")
                    option(value="") Selecione
            .form__item.form__item--estado
                label.form__label.form__label--show(for="m015") Estado
                select#m015(name="")
                    option(value="") Selecione
            .form__item.form__item--cidade
                label.form__label.form__label--show(for="m016") Cidade
                select#m016(name="")
                    option(value="") Selecione
    .budget__actions 
        .form__actions 
            .form__submit
                button.button.button--action-invert Ver Preços 