.budget__box.budget__box--filter
    .budget__content
        form(action="")

            .budget__div.budget__div--checkbox 
                .form__item.form__item--checkbox
                    input#specification-012.form__checkbox-circle(type="checkbox", name="sp01")
                    label.form__label(for="specification-012") 
                        span.form__icon 
                            +svg('check', 14, 11)
                        span Menor Preço 
                .form__item.form__item--checkbox
                    input#specification-022.form__checkbox-circle(type="checkbox", name="sp02")
                    label.form__label(for="specification-022") 
                        span.form__icon 
                            +svg('check', 14, 11)
                        span Melhor Técnica
            .budget__line 
                .form__item.form__item--entrega
                    label.form__label.form__label--show(for="f0362") Prazo de Entrega
                    select#f0362(name="")
                        option(value="") 0 dias
            .budget__line 
                .form__item.form__item--info
                    label.form__label.form__label--show(for="f036322") Maiores Informações
                    textarea.form__textarea#f036322(name="", placeholder="Digite")
                
            .budget__actions-two
                .form__item.form__item--anexo
                    .form__file
                        +svg('anexo', 18, 30)
                        input#f03632(name="", type="file")
                .buttons
                    button.yes Enviar


                