.budget__box
    .budget__content
        form(action="")
            .budget__list 
                .budget__list-item
                    small.number 1 
                    span.label Modelo Digital de Superfície (MDS)
                    span.total R$6,11 por Km²
                .budget__list-item
                    small.number 2 
                    span.label Ortofoto
                    span.total R$1.700,00 por Km²
            .budget__list.budget__list--total
                .budget__list-item
                    span.label TAMANHO DA ÁREA
                    span.total R$1.700,00 por Km²
                .budget__list-item
                    span.label Total
                    span.total R$4.265,28 *
            .budget__alert 
                | <strong>Prezado Cliente</strong>, <br />
                | Essa cotação trata-se de uma valor de referência inicial, onde consideramos as médias de valores aplicados ao mercado. <br />
                | Caso queira uma cotação formal de nossos parceiros com o objetivo de uma contratação, por favor clique no botão abaixo “Sim". <br />
                | Lembrando que os valores estão sujeitos a alteração devido as otimização orçamentárias, inclusão de custos de mobilização e pela concorrência entre os prestadores de serviços.
            
            .budget__actions-two 
                span.label DESEJA OBTER COTAÇÃO FORMAL?
                div.buttons 
                    button.no Não 
                    button.yes Sim

