extends ../lightbox/template.pug

block vars
    - var id = "budget"
    
block header 
    h1.title.title--h1 Faça um Orçamento 

block main 
    .budget__steps(data-step="01")
        include ../steps/template.pug
    
        #step01.budget__step.budget__step-01
            include ./step01.pug

        #step02.budget__step.budget__step-02(aria-hidden="true")
            include ./step02.pug

        #step03.budget__step.budget__step-03(aria-hidden="true") 
            include ./step03.pug
        
        #step04.budget__step.budget__step-03(aria-hidden="true")
            include ./step04.pug
