extends template.pug 
block vars 
    - 
        var article = {
            title: "vooxer na mídia",
            slug: "midia",
            more: {
                link: '/midia.html',
                label: 'Veja todas as notícias'
            },
            list:[
                {
                    title: "Vooxer: um marketplace de serviços com drones",
                    description: 'Startup busca mediar negócios entre prestadores de serviços e clientes, dando total assistência à ambas as partes para garantir que o principal propósito seja atendido',
                    image: '/assets/images/post1.jpg',
                    data: "7 DE NOVEMBRO DE 2018",
                    more: "Leia mais"
                },
                {
                    title: "Vooxer: um marketplace de serviços com drones",
                    description: 'Startup busca mediar negócios entre prestadores de serviços e clientes, dando total assistência à ambas as partes para garantir que o principal propósito seja atendido',
                    image: '/assets/images/post1.jpg',
                    data: "7 DE NOVEMBRO DE 2018",
                    more: "Leia mais"
                },
                {
                    title: "Vooxer: um marketplace de serviços com drones",
                    description: 'Startup busca mediar negócios entre prestadores de serviços e clientes, dando total assistência à ambas as partes para garantir que o principal propósito seja atendido',
                    image: '/assets/images/post1.jpg',
                    data: "7 DE NOVEMBRO DE 2018",
                    more: "Leia mais"
                }
            ]
        }