extends template.pug 
block vars 
    - 
        var article = {
            title: "Nossos serviços",
            slug: "services-inner",
            list:[
                {
                    title: "Takes Aéreos para Multifinalidades",
                    description: 'Imagens aéreas panorâmicas para diversas finalidades e videolfimagens de eventos em geral.',
                    image: '/assets/images/post1.jpg',
                    link: '/services.html'
                },
                {
                    title: "Takes Aéreos para Multifinalidades",
                    description: 'Imagens aéreas panorâmicas para diversas finalidades e videolfimagens de eventos em geral.',
                    image: '/assets/images/post1.jpg',
                    link: '/services.html'
                },
                {
                    title: "Takes Aéreos para Multifinalidades",
                    description: 'Imagens aéreas panorâmicas para diversas finalidades e videolfimagens de eventos em geral.',
                    image: '/assets/images/post1.jpg',
                    link: '/services.html'
                },
                {
                    title: "Takes Aéreos para Multifinalidades",
                    description: 'Imagens aéreas panorâmicas para diversas finalidades e videolfimagens de eventos em geral.',
                    image: '/assets/images/post1.jpg',
                    link: '/services.html'
                },
                {
                    title: "Takes Aéreos para Multifinalidades",
                    description: 'Imagens aéreas panorâmicas para diversas finalidades e videolfimagens de eventos em geral.',
                    image: '/assets/images/post1.jpg',
                    link: '/services.html'
                },
                {
                    title: "Takes Aéreos para Multifinalidades",
                    description: 'Imagens aéreas panorâmicas para diversas finalidades e videolfimagens de eventos em geral.',
                    image: '/assets/images/post1.jpg',
                    link: '/services.html'
                }
            ]
        }