extends template.pug 
block vars 
    - 
        var article = {
            title: "Nossos serviços",
            slug: "services-inner",
            list:[
                {
                    title: "Takes Aéreos para Multifinalidades",
                    description: 'Imagens aéreas panorâmicas para diversas finalidades e videolfimagens de eventos em geral.',
                    image: '/assets/images/post1.jpg',
                    link: '/services.html'
                },
                {
                    title: "Agricultura",
                    description: 'Mapeamentos para aplicações de agricultura de precisão, uso de sensores multispectrais para identificação de problemas na cultura e análises qualitativas e quantitativas de produtividade.',
                    image: '/assets/images/post2.jpg',
                    link: '/agricultura.html'
                },
                {
                    title: "Mineração",
                    description: 'Mapeamentos com geração de modelos digitais para apoio em diversos cálculos. Aplicações automatizadas que substituem a topografia convencional por produtos melhores e mais completos.',
                    image: '/assets/images/post3.jpg',
                    link: '/mineracao.html'
                },
                {
                    title: "Inspeções Estruturais e Monitoramento de Obras",
                    description: 'Imagens de diversos ângulos e com altíssima resolução para monitoramento de andamento de obras, cálculos topográficos precisos, inspeção de estruturas, pontes, obras de artes especiais e linhas de transmissão e distribuição de energia. ',
                    image: '/assets/images/post4.jpg',
                    link: '/obras.html'
                },
                {
                    title: "Mapeamento para Corredores Lineares",
                    description: 'Mapeamento de rodovias, ferrovias, estradas, dutovias e diversos tipos de faixa de servidão. Produtos com qualidade posicional e atendimento a precisões cartográficas.',
                    image: '/assets/images/post5.jpg',
                    link: '/corredores.html'
                },
                {
                    title: "Mapeamento para Diversas Aplicações",
                    description: 'Geração de Ortofotos de altíssima resolução, Modelos Digitais de Terreno e Superfície, serviços de restituição, vetorização, hipsometria e diversos outos produtos para cartografia.',
                    image: '/assets/images/post6.jpg',
                    link: '/multifinalidades.html'
                }
            ]
        }