extends template.pug 
block vars 
    - 
        var article = {
            title: "Tutoriais",
            slug: "video",
            video: true,
            list:[
                {
                    title: "Takes Aéreos para Multifinalidades",
                    image: '/assets/images/video.jpg',
                    link: '/midia.html'
                },
                {
                    title: "Takes Aéreos para Multifinalidades",
                    image: '/assets/images/video.jpg',
                    link: '/midia.html'
                },
                {
                    title: "Takes Aéreos para Multifinalidades",
                    image: '/assets/images/video.jpg',
                    link: '/midia.html'
                },
                {
                    title: "Takes Aéreos para Multifinalidades",
                    image: '/assets/images/video.jpg',
                    link: '/midia.html'
                },
                {
                    title: "Takes Aéreos para Multifinalidades",
                    image: '/assets/images/video.jpg',
                    link: '/midia.html'
                },
                {
                    title: "Takes Aéreos para Multifinalidades",
                    image: '/assets/images/video.jpg',
                    link: '/midia.html'
                }
            ]
        }