.partners 
    box-before(#fff)
    padding-bottom: 100px
    &__container 
        { container }
    &__header 
        padding: 40px 0 0
    &__name 
        position: absolute 
        visibility: hidden 
        opacity: 0 
    &__list
        margin: 0 -20px
        &:not(.slick-initialized) 
            display: flex 
            justify-content: space-between
            flex-flow: row wrap
    &__figure 
        display: flex 
        justify-content: center 
        align-items: center 
        height: 100%
    &__item 
        position: relative 
        padding: 10px 20px
        height: 65px 
