- 
    var partners = [
        {
            "name": "aom",
            "image": "/assets/images/brands/aom.jpg"
        },
        {
            "name": "asserti",
            "image": "/assets/images/brands/asserti.jpg"
        },
        {
            "name": "bnz",
            "image": "/assets/images/brands/bnz.jpg"
        },
        {
            "name": "ciem",
            "image": "/assets/images/brands/ciem.jpg"
        },
        {
            "name": "cpe",
            "image": "/assets/images/brands/cpe.jpg"
        },
        {
            "name": "dj",
            "image": "/assets/images/brands/dj.jpg"
        },
        {
            "name": "dronee",
            "image": "/assets/images/brands/dronee.jpg"
        },
        {
            "name": "droneng",
            "image": "/assets/images/brands/droneng.jpg"
        },
        {
            "name": "eficaz",
            "image": "/assets/images/brands/eficaz.jpg"
        },
        {
            "name": "geonumerics",
            "image": "/assets/images/brands/geonumerics.jpg"
        },
        {
            "name": "gomesaltimari",
            "image": "/assets/images/brands/gomesaltimari.jpg"
        },
        {
            "name": "h2m",
            "image": "/assets/images/brands/h2m.jpg"
        },
        {
            "name": "horus",
            "image": "/assets/images/brands/horus.jpg"
        },
        {
            "name": "innovaspace",
            "image": "/assets/images/brands/innovaspace.jpg"
        },
        {
            "name": "mapfre",
            "image": "/assets/images/brands/mapfre.jpg"
        },
        {
            "name": "nuvemuav",
            "image": "/assets/images/brands/nuvemuav.jpg"
        },
        {
            "name": "nuvve",
            "image": "/assets/images/brands/nuvve.jpg"
        },
        {
            "name": "sensormap",
            "image": "/assets/images/brands/sensormap.jpg"
        }
    ]
.partners 
    .partners__container 
        header.partners__header
            .partners__title
                h1.title.title--h1 Principais parceiros
        .partners__main
            .partners__list
                for partner in partners 
                    .partners__item
                        .partners__name #{ partner.name }
                        figure.partners__figure
                            img.partners__image(src=partner.image, alt=partner.name)

        