.steps 
    .steps__container 
        .steps__list
            .steps__step.steps__step--search(data-steps="passed")
                .steps__border 
                    .steps__icon 
                        +svg('search', 50, 50)
                    .steps__name Especificações Iniciais
            .steps__step.steps__step--user(data-steps="current")
                .steps__border 
                    .steps__icon 
                        +svg('user', 50, 50)
                    .steps__name Sua Identificação
            .steps__step.steps__step--money 
                .steps__border
                    .steps__icon 
                        +svg('money', 50, 50)
                    .steps__name Pré - Cotação
            .steps__step.steps__step--filter 
                .steps__border
                    .steps__icon 
                        +svg('filter', 50, 50)
                    .steps__name Critérios para Cotação
