.spotlight
    .spotlight__container 
        .spotlight__figure 
            img(src="/assets/images/post_image.jpg", alt="Vooxer: um marketplace de serviços com drones")
        .spotlight__content
            h2.title.title--h3 Vooxer: um marketplace de serviços com drones
            h4.title.title--h4.title--detail 7 DE NOVEMBRO DE 2018
            .spotlight__text 
                p Startup busca mediar negócios entre prestadores de serviços e clientes, dando total assistência à ambas as partes para garantir que o principal propósito seja atendido
                p É inegável que o mercado de drones no Brasil cresceu bastante nos últimos anos, tornando a tecnologia um grande instrumento para o trabalho de diversos segmentos distintos. Enxergando a ascensão deste mercado surge a Vooxer, um marketplace que atua em todo o território nacional para diversos serviços realizados a partir de drones.
                p A ideia do negócio é a seguinte: a plataforma media negócios entre prestadores de serviços e clientes, dando total assistência à ambas as partes e garantindo que o principal propósito seja atendido, visando consolidar clientes e fornecedores satisfeitos com os negócios gerados pela empresa. Tudo isso acontece a partir de uma plataforma própria, desenvolvida estruturalmente por APIs e integrada com sistema Salesforce para gestão comercial.
            .spotlight__actions 
                +link('post-more', 'Leia Mais', '/post.html')