.button 
    display: inline-block 
    padding: 15px 20px 
    border: 0
    border-radius: 2px
    font-size: 13px
    font-weight: semi-bold 
    text-transform: uppercase 
    text-align: center 
    line-height: 20px 
    cursor: pointer
    &--action
        width: 100% 
        background: color_secondary 
        color: #333 
        font-size: 16px
        &-invert
            width: 100%
            font-size: 16px
            background: color_primary 
            color: #fff
        

    
// @media (min-width: 992px)
//     .button 
//         padding: 10px 20px