.contact 
    .contact__container 
        .contact__form
            form(action="")
                .form__div
                    .form__item
                        label.form__label(for="cname") Nome/Razão Social
                        input#cname.form__input.form__input--text(type="text", placeholder="NOME/RAZÃO SOCIAL", name="cname")
                    .form__item
                        label.form__label(for="cpfcnpj") CPF/CNPJ
                        input#cpfcnpj.form__input.form__input--text(type="text", placeholder="CPF/CNPJ", name="cname")
                
                .form__div
                    .form__item 
                        label.form__label(for="ccep") CEP
                        input#ccpe.form__input.form__input--email(type="email", placeholder="CEP", name="cemail")
                    .form__item 
                        label.form__label(for="clogradouro") Logradouro
                        input#clogradouro.form__input.form__input--text(type="text", placeholder="LOGRADOURO", name="ccompany")
                .form__div
                    .form__item 
                        label.form__label(for="ccity") Cidade
                        input#ccity.form__input.form__input--phone(type="text", placeholder="CIDADE", name="ccity")
                    .form__item 
                        label.form__label(for="cstate") Estado
                        input#cstate.form__input.form__input--phone(type="text", placeholder="ESTADO", name="cstate")
                .form__div
                    .form__item 
                        label.form__label(for="cresponsavel") Responsável
                        input#cresponsavel.form__input.form__input--phone(type="text", placeholder="RESPONSÁVEL", name="ccity")
                    .form__item 
                        label.form__label(for="cemail") E-Mail
                        input#cemail.form__input.form__input--phone(type="text", placeholder="E-MAIL", name="cstate")
                .form__div
                    .form__item 
                        label.form__label(for="cphonecomercial") Telefone Comercial
                        input#cphonecomercial.form__input.form__input--phone(type="text", placeholder="TELEFONE COMERCIAL", name="ccity")
                    .form__item 
                        label.form__label(for="cphonecelular") E-Mail
                        input#cphonecelular.form__input.form__input--phone(type="text", placeholder="TELEFONE CELULAR", name="cstate")
                .form__actions 
                    .form__submit
                        button.button.button--action-invert Enviar 
        .contact__help 
            .contact__social 
                .contact__social-title 
                    h4.title.title--h2 Siga a Vooxer
                .contact__social-list 
                    .contact__social-item 
                        a.contact__social-link(href="#facebook")
                            +svg('facebook', 40, 40)
                    .contact__social-item 
                        a.contact__social-link(href="#twitter")
                            +svg('twitter', 40, 40)
                    .contact__social-item 
                        a.contact__social-link(href="#instagram")
                            +svg('instagram', 40, 40)
                    .contact__social-item 
                        a.contact__social-link(href="#youtube")
                            +svg('youtube', 40, 40)
                    .contact__social-item 
                        a.contact__social-link(href="#linkedin")
                            +svg('linkedin', 40, 40)

            .contact__box 
                .contact__name 
                    h6.title.title--h6 VOOXER 
                .contact__text
                    p R. Adão Stropa, 200
                    p Jardim Acapulco, 
                    p Marília - SP
                    p 17525-180

            .contact__box 
                .contact__name 
                    h6.title.title--h6 Atendimento 24h
                .contact__text
                    p <a href="tel:551433672807">+55 (14) 3367-2807</a>
                    p <a href="tel:5514991635178">+55 (14) 99163-5178</a>
                    p <a href="mailto:suporte@vooxer.com">suporte@vooxer.com</a>
