.contact 
    font-size: 16px
    font-weight: regular 
    color: #333333
    padding-bottom: 100px
    a 
        font-size: 16px
        font-weight: regular 
        color: #333333
    .form
        &__actions 
            margin-top: 20px
    &__box 
        margin-bottom: 45px

    &__social
        margin-bottom: 30px
        &-list 
            display: flex 
            margin: -8px
            svg 
                fill: color_primary
        &-item 
            margin: 8px

    
@media (min-width: 992px)
    .contact 
        &__container 
            display: flex 
            justify-content: space-between
            align-self: flex-start
        &__form 
            flex: 0 1 585px