.form
    &__div 
        .form__item 
            margin-top: 20px 
    &__item 
        &:not(.form__item--checkbox):not(.form__item--checkbox-circle)
            .form__label
                display: none 
        + .form__item:not(.form__item--checkbox):not(.form__item--checkbox-circle)
            margin-top: 20px
        &--small 
            + .form__item--small:not(.form__item--checkbox):not(.form__item--checkbox-circle)
                margin-top: 10px
        &--checkbox 
            position: relative 
            display: flex 
            justify-content: space-between
            align-items: center 
    &__checkbox 
        position: absolute 
        opacity: 0
        + .form__label 
            font-size: 13px
            font-weight: regular 
            color: #666666
            &:before 
                content: ''
                display: inline-block
                vertical-align: middle
                width: 20px
                height: 20px 
                border-radius: 2px 
                border: solid 1px #e5e5e5
                margin-right: 10px
                background: #fff
        &:checked + .form__label:before 
            background: color_primary 
            box-shadow: inset 0 0 0 3px #fff

    &__checkbox-circle
        position: absolute 
        opacity: 0
        + .form__label 
            font-size: 13px
            font-weight: regular 
            color: #666666
            display: flex
            justify-content: flex-start 
            align-items: center 
            padding: 10px 0
            cursor: pointer
            .form__icon 
                display: inline-block 
                min-width: 25px
                min-height: 25px
                border-radius: 50% 
                border: solid 2px #999999
                position: relative 
                margin-right: 20px
                background: #fff
                svg 
                    position: absolute 
                    top: 50% 
                    left: 50% 
                    opacity: 0 
                    visibility: hidden 
                    transform:  translateX(-50%) translateY(-50%)
                    fill: color_secondary

            
        &:checked + .form__label .form__icon
            border-color: color_secondary
            svg 
                opacity: 1 
                visibility: visible

    &__show-pass
        font-size: 13px
        font-weight: regular 
        color: color_primary
        padding: 20px 0
        border: 0
        background: none 
    &__input 
        width: 100% 
        height: 50px
        padding: 0 20px
        border: solid 1px #e5e5e5 
        font-size: 15px
        font-weight: regular 
        color: #666
        line-height: 50px 
        &--right 
            text-align: right
        &:focus 
            &::placeholder
                color: transparent
    &__label--show 
        display: block !important
        padding-bottom: 5px
        font-size: 15px
        font-weight: bold 
        color: color_primary 
        text-transform: uppercase
        
.SumoSelect
    width: 100% 
    > .CaptionCont
        height: 50px 
        border: solid 1px #d9dce5
        border-radius: 2px
        display: flex 
        justify-content: flex-start 
        align-items: center
    .search-txt
        height: 50px
    &.open 
        > .optWrapper
            top: 100%
            margin-bottom: 50px
            > .options li.opt
                padding: 15px

@media (min-width: 992px)
    .form 
        &__div 
            display: flex 
            .form__item 
                &:first-child
                    flex: 1 1 auto 
                    margin-right: 20px
                &:last-child 
                    flex: 0 0 240px
                